<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Add training
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input formControlName="date" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Notes</ion-label>
        <ion-input formControlName="notes" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add training</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>